.footer-cont {
  min-height: 3em;
  width: 100%;
  margin-top: 3em;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
