.header-cont {
  width: 100%;
  background-color: lightslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  text-align: center;
  height: auto;

  img {
    cursor: pointer;
    max-width: 15em;
    height: auto;
    margin: 0.625em;
  }
  span {
    width: 16.25em;
  }
  h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 48em) {
  .header-cont {
    img {
      max-width: 8em;
      margin: auto 0 auto 0.25em;
      margin-bottom: auto;
    }
    span {
      width: 8.25em;
    }
    h1 {
      font-size: 2em;
    }
  }
}
