.gen-joke-cont {
  min-height: 18.75em;
  text-align: center;

  button {
    margin: 1em;
    font-size: 1.5em;
    padding: 0.625em 1.25em;
    border-radius: 0.5em;
    font-weight: bold;

    &:hover {
      background-color: darkolivegreen;
      color: white;
      cursor: pointer;
    }

    &:active {
      background-color: darkgreen;
      border-color: white;
      color: white;
    }
  }
}
