<div class="joke-page-container">
  <div class="stars">
    <div class="star-row">
      <app-joke-star [joke]="joke()"></app-joke-star>
      <app-joke-star [joke]="joke()"></app-joke-star>
      <app-joke-star [joke]="joke()"></app-joke-star>
      <app-joke-star [joke]="joke()"></app-joke-star>
      <app-joke-star [joke]="joke()"></app-joke-star>
    </div>
  </div>
  <h1>{{ joke()?.joke }}</h1>
  <h2>I give that one five stars, how 'bout you, Sport!?</h2>
  <app-knee-slapper [joke]="joke()" [isLarge]="true"></app-knee-slapper>
</div>
