.joke-page-container {
  height: calc(100% - 2em);
  padding: 1em;
  text-align: center;

  .stars {
    display: flex;
    align-items: center;
    flex-direction: column;

    .star-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .star {
        max-height: 10em;
      }
    }
  }

  h1 {
    font-size: 3.5em;
  }
  h2 {
    margin-top: 1em;
    font-size: 2em;
  }
}
