button {
  font-size: 1em;
  padding: 0.25em 0.75em;
  margin-left: 1em;
  border-radius: 0.5em;
  margin: 0.5em;

  &:hover {
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
  }

  &:active {
    background-color: darkgreen;
    border-color: white;
    color: white;
  }

  &.favorite {
    background-color: darkgreen;
    color: white;
  }
}
