.main {
  background-color: beige;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;

  .content {
    max-width: 58em;
    margin: 0 auto 0 auto;
    min-height: calc(100vh - 16em);
  }
}
