.main {
  background-color: beige;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;

  .content {
    position: fixed;
    min-width: 76em;
    margin: 0 auto 0 auto;
    top: 11.25em;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    min-height: calc(100vh - 4.75em);
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
