.main {
  background-color: beige;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;

  .content {
    max-width: 58em;
    margin: 0 auto auto auto;
    min-height: 100%;
    height: max-content;
  }
}
