.title {
  margin-top: 1em;
  text-align: center;
}
.sub-title {
  margin-bottom: 1.5em;
  text-align: center;
}

.joke-cont {
  margin: 0.75em auto;
  text-align: center;
  border-radius: 0.75em;
  padding: 0.5em 0.75em;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  button {
    font-size: 1.25em;
    padding: 0.25em 0.75em;
    border-radius: 0.5em;
    margin-top: 0.375em;

    &:hover {
      background-color: darkolivegreen;
      color: white;
      cursor: pointer;
    }

    &:active {
      background-color: darkgreen;
      border-color: white;
      color: white;
    }
  }
}
