.title {
  margin-top: 16px;
  text-align: center;
}
.sub-title {
  margin-bottom: 24px;
  text-align: center;
}

.joke-cont {
  margin: 12px auto;
  text-align: center;
  border-radius: 12px;
  padding: 8px 12px;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  button {
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-top: 6px;

    &:hover {
      background-color: darkolivegreen;
      color: white;
      cursor: pointer;
    }
    &:active {
      background-color: darkgreen;
      border-color: white;
      color: white;
    }
  }
}
