<div class="search-cont">
  <form [formGroup]="jokeSearchForm" (ngSubmit)="searchJokes()">
    <h2>Search for jokes with a keyword or phrase</h2>
    <input type="text" formControlName="searchTerm" id="searchTerm" />
    <button class="button" type="submit">search</button>
  </form>
  <div class="joke-item" *ngFor="let joke of searchedJokes()">
    <app-joke [jokeText]="joke.joke" [jokeId]="joke.id"></app-joke>
    <button (click)="saveToFavorites(joke.id, joke.joke)">
      That's a knee slapper!
    </button>
  </div>
</div>
