<div class="search-cont">
  <form [formGroup]="jokeSearchForm" (ngSubmit)="searchJokes()">
    <input
      placeholder="What's so funny?"
      type="text"
      formControlName="searchTerm"
      id="searchTerm"
    />
    <button type="submit">
      <fa-icon [icon]="faMagnifyingGlass()"></fa-icon>
    </button>
  </form>

  @for(joke of searchedJokes(); track joke.id) {
  <div class="joke-item">
    <app-joke [joke]="joke"></app-joke>
    <app-knee-slapper [joke]="joke"></app-knee-slapper>
  </div>
  }
</div>
