<div class="search-cont">
  <form [formGroup]="jokeSearchForm" (ngSubmit)="searchJokes()">
    <input
      placeholder="What's so funny?"
      type="text"
      formControlName="searchTerm"
      id="searchTerm"
    />
    <button class="button" type="submit">search</button>
  </form>

  @for(joke of searchedJokes(); track joke.id) {
  <div class="joke-item">
    <app-joke [joke]="joke"></app-joke>
    <button (click)="saveToFavorites(joke)">That's a knee slapper!</button>
  </div>
  }
</div>
