.nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 1.875em 0.625em 0.625em 0.625em;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}
