body,
h1,
h2,
h3,
h4,
p,
a,
div,
span,
input,
button {
  margin: unset;
  padding: unset;
  font-family: "Comic Sans MS", "Comic Sans";
}
body {
  height: 100vh;
}

@media screen and (max-width: 27em) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
}
